variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi
  PUBLISH_PACKAGES:
   description: "Publish python packages if true, forced for pipelines on tag"
   value: "false"
   options:
     - "true"
     - "false"
  BUILD_LLVM:
   description: "When executing manually, build llvm if true"
   value: "true"
   options:
     - "true"
     - "false"

default:
  image: python:3.12
  # Use pinocchio to speedup builds
  tags:
    - pinocchio-docker
  # # Allocate large shared (4xCPU 8GB)
  # tags:
  #   - ci.inria.fr
  #   - large
  before_script:
    - df -h .
    - free -h
    - env
    - python --version
    - pip list
    - curl -sSL https://get.docker.com/ | sh

linux-llvm:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^llvm-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_LLVM == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/
