default:
  image: python:3.12
  # Allocate large shared (4xCPU 8GB)
  tags:
    - ci.inria.fr
    - large
  before_script:
    - df -h .
    - free -h
    - env
    - python --version
    - pip list
    - curl -sSL https://get.docker.com/ | sh

variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi


linux:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^llvm-v/
  script:
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - twine upload --repository-url $REPOSITORY_URL --skip-existing wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/
