variables:
  TWINE_USERNAME: gitlab-ci-token
  TWINE_PASSWORD: $CI_JOB_TOKEN
  REPOSITORY_URL: $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi
  PUBLISH_PACKAGES:
   description: "Publish python packages if true, forced for pipelines on tag"
   value: "false"
   options:
     - "true"
     - "false"
  BUILD_LLVM:
   description: "When executing manually, build llvm if true"
   value: "true"
   options:
     - "true"
     - "false"
  BUILD_LINUX:
   description: "Build for linux"
   value: "true"
   options:
     - "true"
     - "false"
  BUILD_MACOS:
   description: "Build for macos"
   value: "true"
   options:
     - "true"
     - "false"

default:
  before_script:
    - env

linux-llvm:
  image: python:3.12
  # Use pinocchio to speedup builds
  tags:
    - pinocchio-docker
  # # Allocate large shared (4xCPU 8GB)
  # tags:
  #   - ci.inria.fr
  #   - large
  variables:
    BUILD_CCACHE_DIR: /cache/$CI_PROJECT_PATH_SLUG/ccache
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^llvm-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_LLVM == "true" && $BUILD_LINUX == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - curl -sSL https://get.docker.com/ | sh
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/

macos-llvm:
  tags:
    - macos-baremetal-applem4
  variables:
    BUILD_PLATFORM: "darwin"
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^llvm-v/
    - if: $CI_PIPELINE_SOURCE == "web" && $BUILD_LLVM == "true" && $BUILD_MACOS == "true"
  script:
    - test -z "${CI_COMMIT_TAG-}" || PUBLISH_PACKAGES=true
    - export PATH="/opt/homebrew/bin:$PATH"
    - python3.12 -m venv .venv
    - source .venv/bin/activate
    - python -m pip install -r requirements.txt
    - ./checkout-llvm.sh
    - ./build-wheels.sh
    - test "$PUBLISH_PACKAGES" != true || env TWINE_REPOSITORY_URL="$REPOSITORY_URL" ./twine-upload.sh wheelhouse/*.whl
  artifacts:
    paths:
      - wheelhouse/
